body {
    background: url('/static/images/flight.jpg');
    /* background-image: url('/static/images/flight.jpg');
        background-repeat: no-repeat;
        background-size: auto; */
    /* background-color: gray; */
}

.flight-contents {
    border: 5px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}

h1 {
    text-align: center;
}