{% extends "layout.html" %} {% block title %} Book flight {% endblock %} {% block import%}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/booking.js') }}"></script>
{% endblock %} {% block body %}
<h1>Book your flight</h1>
<div class="container flight-contents">
    <form action="{{ url_for('book') }}" method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1">FROM</label>
            <select class="form-control" name="flight_origin">
            {% for city in cities%}
                <option>{{ city }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">TO</label>
            <select class="form-control" name="flight_destination">
            {% for city in cities%}
                <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="textInput form-group">
            <label for="Name">Name</label><br>
            <input type="text" name="usersname"><br>
            <label for="Departure">Departure</label><br>
            <input type="date" name="date">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Book flight">
        </div>
    </form>
</div>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>{{ message }}</p>
    </div>

</div>
{% endblock %}