{% extends "layout.html" %} {% block title %} Book flight {% endblock %} {% block import%} {% endblock %} {% block body %}
<h1>Book your flight</h1>
<form action="{{ url_for('complete_booking') }}" method="post">
    <div class="form-group">
        <label for="exampleFormControlSelect1">FROM</label>
        <select class="form-control" name="flight_origin">
        {% for flight in flights%}
            <option>{{ flight.origin }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">TO</label>
        <select class="form-control" name="flight_destination">
        {% for flight in flights%}
            <option value="{{ flight.destination }}">{{ flight.destination }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Book Flight</button>
    </div>
</form>
{% endblock %}