{% extends "layout.html" %} {% block title %} All Flights {% endblock %} {% block import%}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"> {% endblock%} {%block body %}
<h1>All available flights</h1>

<div class="container flight-contents">
    <ul>
        {% for flight in flights %}
        <a href="{{ url_for('flight', id=flight.id) }}">
            <li>{{flight.origin}} to {{flight.destination}}</li>
        </a>
        {% endfor %}
    </ul>
    <a href="{{ url_for('booking') }}">
        <button class="btn btn-primary">Book Flight</button>
    </a>
</div>


{% endblock %}